Broad, ISO and RFC support

We want to support any string input that adheres to an ISO or RFC date format with possibly the exception of millennium tokens.

In the context of internet protocols, "RFC" (Request for Comments) date-time formats refer to specific standards set by the Internet Engineering Task Force (IETF) to ensure consistent data exchange. [1, 2, 3] 
The most common RFC date-time formats include:
1. RFC 3339 (The Modern Standard) [4] 
This is the most widely used format for modern internet applications and APIs. It is a "profile" of the ISO 8601 standard, meaning it uses a subset of ISO 8601 rules but is more restrictive to reduce ambiguity. [5, 6, 7, 8, 9] 

* Format: YYYY-MM-DDTHH:MM:SSZ or YYYY-MM-DDTHH:MM:SS±HH:MM.
* Key Features:
* Z indicates UTC (Zero offset).
   * The T separator is standard, but RFC 3339 specifically allows a space instead (unlike strict ISO 8601).
   * Fractional seconds (e.g., .000) are optional but supported.
* Example: 2024-07-04T17:24:53Z. [5, 6, 10, 11, 12] 

2. RFC 1123 / RFC 822 (The "Email" Format)
Commonly used in HTTP headers (like Date or Expires) and email protocols. RFC 1123 updated the older RFC 822 standard to require four-digit years. [13, 14, 15] 

* Format: Day, DD Mon YYYY HH:MM:SS GMT.
* Key Features:
* Uses three-letter abbreviations for days and months (e.g., Mon, Jan).
   * Strictly uses GMT (Greenwich Mean Time) for HTTP.
* Example: Mon, 15 Jun 2009 20:45:30 GMT. [13, 14, 16] 

3. RFC 9557 (Internet Extended Date/Time Format - IXDTF) [17] 
A newer standard (published April 2024) that extends RFC 3339 to include additional metadata required for modern calendaring. [8, 18] 

* Format: [RFC 3339 Timestamp][Suffixes].
* Key Features:
* Adds Time Zone Identifiers (e.g., [America/New_York]) so applications know the local rules even if the UTC offset changes.
   * Supports Calendar Systems (e.g., [u-ca=japanese]).
* Example: 1996-12-19T16:39:57-08:00[America/Los_Angeles]. [19, 20, 21, 22, 23] 

4. Other Legacy or Specialized RFCs

* RFC 850: An obsolete format previously used in USENET and HTTP/1.0. It used two-digit years (e.g., Monday, 15-Jun-09 20:45:30 GMT) and is no longer recommended.
* RFC 2445 (iCalendar): Used for calendar events, often seen as a compressed string without separators (e.g., 19960401T235959Z).
* RFC 2822: An update to RFC 822 for Internet Message Format, often allowing for numeric time zone offsets instead of just "GMT". [12, 13, 14, 21, 24] 

Would you like to see a code example of how to parse or format these in a specific programming language like Python or JavaScript?

[1] [[https://blog.apnic.net](https://blog.apnic.net/2021/08/26/a-brief-history-of-the-rfc-format/#:~:text=That%20the%20RFC%20%28%20Request%20for%20Comments,RFC%20%28%20Request%20for%20Comments%20%29%200%29.)](https://blog.apnic.net/2021/08/26/a-brief-history-of-the-rfc-format/#:~:text=That%20the%20RFC%20%28%20Request%20for%20Comments,RFC%20%28%20Request%20for%20Comments%20%29%200%29.)
[2] [[https://computus.org](https://computus.org/when-can-i-use-temporal/)](https://computus.org/when-can-i-use-temporal/)
[3] [[https://dmarc.org](https://dmarc.org/2016/07/how-many-from-addresses-are-there/#:~:text=The%20Internet%20Engineering%20Task%20Force%20%28IETF%29%20creates,are%20transmitted%20between%20one%20computer%20and%20another.)](https://dmarc.org/2016/07/how-many-from-addresses-are-there/#:~:text=The%20Internet%20Engineering%20Task%20Force%20%28IETF%29%20creates,are%20transmitted%20between%20one%20computer%20and%20another.)
[4] [[https://unix.stackexchange.com](https://unix.stackexchange.com/questions/120484/what-is-a-standard-command-for-printing-a-date-in-rfc-3339-format#:~:text=What%20is%20a%20standard%20command%20for%20printing,email%20which%20is%20neither%20modern%20nor%20sane%29.)](https://unix.stackexchange.com/questions/120484/what-is-a-standard-command-for-printing-a-date-in-rfc-3339-format#:~:text=What%20is%20a%20standard%20command%20for%20printing,email%20which%20is%20neither%20modern%20nor%20sane%29.)
[5] [[https://stackoverflow.com](https://stackoverflow.com/questions/522251/whats-the-difference-between-iso-8601-and-rfc-3339-date-formats)](https://stackoverflow.com/questions/522251/whats-the-difference-between-iso-8601-and-rfc-3339-date-formats)
[6] [[https://docs.alvys.com](https://docs.alvys.com/docs/dates-timestamps)](https://docs.alvys.com/docs/dates-timestamps)
[7] [[https://datatracker.ietf.org](https://datatracker.ietf.org/doc/html/rfc3339#:~:text=Table_content:%20header:%20%7C%20Title%20%7C%20Date%20and,Timestamps:%20txt%20html%20pdf%20w/errata%20bibtex%20%7C)](https://datatracker.ietf.org/doc/html/rfc3339#:~:text=Table_content:%20header:%20%7C%20Title%20%7C%20Date%20and,Timestamps:%20txt%20html%20pdf%20w/errata%20bibtex%20%7C)
[8] [[https://www.ditig.com](https://www.ditig.com/internet-timestamps)](https://www.ditig.com/internet-timestamps)
[9] [[https://developer.siemens.com](https://developer.siemens.com/senseye/introduction/timeanddates.html#:~:text=In%20the%20vast%20majority%20of%20APIs%2C%20Senseye,RFC3339%20standard%20to%20represent%20dates%20and%20times.)](https://developer.siemens.com/senseye/introduction/timeanddates.html#:~:text=In%20the%20vast%20majority%20of%20APIs%2C%20Senseye,RFC3339%20standard%20to%20represent%20dates%20and%20times.)
[10] [[https://www.w3.org](https://www.w3.org/TR/NOTE-datetime#:~:text=Year:%20YYYY%20%28eg%201997%29%20Year%20and%20month:,zone%20designator%20%28Z%20or%20+hh:mm%20or%20%2Dhh:mm%29)](https://www.w3.org/TR/NOTE-datetime#:~:text=Year:%20YYYY%20%28eg%201997%29%20Year%20and%20month:,zone%20designator%20%28Z%20or%20+hh:mm%20or%20%2Dhh:mm%29)
[11] [[https://medium.easyread.co](https://medium.easyread.co/understanding-about-rfc-3339-for-datetime-formatting-in-software-engineering-940aa5d5f68a)](https://medium.easyread.co/understanding-about-rfc-3339-for-datetime-formatting-in-software-engineering-940aa5d5f68a)
[12] [[https://search.r-project.org](https://search.r-project.org/CRAN/refmans/anytime/html/iso8601.html)](https://search.r-project.org/CRAN/refmans/anytime/html/iso8601.html)
[13] [[https://en.wikipedia.org](https://en.wikipedia.org/wiki/Date_and_time_notation)](https://en.wikipedia.org/wiki/Date_and_time_notation)
[14] [[https://www.freesoft.org](https://www.freesoft.org/CIE/RFC/1945/14.htm)](https://www.freesoft.org/CIE/RFC/1945/14.htm)
[15] [[https://opendylan.org](https://opendylan.org/library-reference/system/date.html#:~:text=This%20format%20is%20commonly%20used%20in%20email%2C,other%20protocols%20where%20date%20representations%20are%20used.)](https://opendylan.org/library-reference/system/date.html#:~:text=This%20format%20is%20commonly%20used%20in%20email%2C,other%20protocols%20where%20date%20representations%20are%20used.)
[16] [[https://learn.microsoft.com](https://learn.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings)](https://learn.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings)
[17] [[https://www.hjp.at](https://www.hjp.at/doc/rfc/rfc9557.pdf#:~:text=%5BJAVAZDT%5D%20%E2%80%A2%20RFC%209557%20Internet%20Extended%20Date/Time,time.%20For%20instance%2C%20it%20does%20not%20address:)](https://www.hjp.at/doc/rfc/rfc9557.pdf#:~:text=%5BJAVAZDT%5D%20%E2%80%A2%20RFC%209557%20Internet%20Extended%20Date/Time,time.%20For%20instance%2C%20it%20does%20not%20address:)
[18] [[https://datatracker.ietf.org](https://datatracker.ietf.org/doc/rfc9557/#:~:text=Table_title:%20Date%20and%20Time%20on%20the%20Internet:,Was%20draft%2Dietf%2Dsedate%2Ddatetime%2Dextended%20%28sedate%20WG%29:%20Francesca%20Palombini%20%7C)](https://datatracker.ietf.org/doc/rfc9557/#:~:text=Table_title:%20Date%20and%20Time%20on%20the%20Internet:,Was%20draft%2Dietf%2Dsedate%2Ddatetime%2Dextended%20%28sedate%20WG%29:%20Francesca%20Palombini%20%7C)
[19] [[https://datatracker.ietf.org](https://datatracker.ietf.org/doc/html/rfc9557)](https://datatracker.ietf.org/doc/html/rfc9557)
[20] [[https://datatracker.ietf.org](https://datatracker.ietf.org/doc/html/draft-ietf-sedate-datetime-extended-11)](https://datatracker.ietf.org/doc/html/draft-ietf-sedate-datetime-extended-11)
[21] [[https://www.rfc-editor.org](https://www.rfc-editor.org/rfc/rfc9557)](https://www.rfc-editor.org/rfc/rfc9557)
[22] [[https://www.rfc-editor.org](https://www.rfc-editor.org/rfc/rfc9557#:~:text=This%20document%20defines%20an%20extension%20to%20the,UTC%20is%20the%20preferred%20reference%20point%20for)](https://www.rfc-editor.org/rfc/rfc9557#:~:text=This%20document%20defines%20an%20extension%20to%20the,UTC%20is%20the%20preferred%20reference%20point%20for)
[23] [[https://networkupstools.org](https://networkupstools.org/docs/developer-guide.chunked/_time_and_date_format.html)](https://networkupstools.org/docs/developer-guide.chunked/_time_and_date_format.html)
[24] [[https://stackoverflow.com](https://stackoverflow.com/questions/14914739/which-date-formats-are-ietf-compliant-rfc-2822-timestamps#:~:text=Which%20Date%20formats%20are%20IETF%2Dcompliant%20RFC%202822%20timestamps?)](https://stackoverflow.com/questions/14914739/which-date-formats-are-ietf-compliant-rfc-2822-timestamps#:~:text=Which%20Date%20formats%20are%20IETF%2Dcompliant%20RFC%202822%20timestamps?)

Resolved with https://github.com/snekse/jdk-omni-date-parser/pull/3